@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f2ef;
  --foreground: #171717;
  --border-default: #000000;
  --border-muted: #2b557e;
  --table-bg: #f5f3ec;
  --table-border: #8a8a8a;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
